config.status
config.log
configure
Makefile
Makefile.common
config.h
autom4te.cache
regdom_test.dat
src/acl_lex.c
src/acl_yacc.[ch]
src/cf_lex.c
src/cf_yacc.[ch]
src/mopherctl
src/mopherd
src/test_run
man/mopher*.[0-9]
*.o
*.so
*.tar.gz
