# mopherd user and group
#
#mopherd_user    = "mopherd"
#mopherd_group   = "mopherd"


# Berkeley DB example
#
#table[state] = {
#    driver      = "bdb",
#    path        = "/path/to/state.bdb",
#}
#
#table[greylist] = {
#    driver      = "bdb",
#    path        = "/path/to/greylist.bdb",
#}
#
#table[counter_relay] = {
#    driver      = "bdb",
#    path        = "/path/to/counter_relay.bdb",
#}
#
#table[counter_penpal] = {
#    driver      = "bdb",
#    path        = "/path/to/counter_penpal.bdb",
#}

# MySQL example
#
#table[greylist] = {
#    driver      = "mysql",
#    path        = "/tmp/mysql.sock",
#    user        = "mopher",
#    pass        = "secret"
#}
#
#table[delivered_relays] = {
#    driver      = "mysql",
#    host        = "192.168.1.100",
#    user        = "mopher",
#    pass        = "secret"
#}
#
#table[delivered_penpals] = {
#    driver      = "mysql",
#    host        = "192.168.1.100",
#    port        = 3306,
#    database    = "my_mopher_db",
#    table       = "my_mopher_table",
#    user        = "mopher",
#    pass        = "secret"
#}


# DNSBL symbols
#
#dnsbl[bl_example] = "rbl.example.tld"
#dnsbl[bl_blacklist] = "bl.blacklist.tld"
